canvas {
  margin: 0 20px 20px 20px;
  vertical-align: top;
}

h1 {
  font-family: courier;
  font-size: 20pt;
  margin-left: 20px;
  margin-top: 20px;
}

input[type=text] {
  width: 40px;
  margin: 2px 0px;
  text-align: center;
}

input[type=button] {
  padding: 5px 15px;
  margin-top: 15px;
  border-radius: 5px;
  border: solid 1px gray;
}

#interactive {
  float: left;
  display: inline-block;
}

#controls {
  display: inline-block;
  margin: 0 0 35px 20px;
  vertical-align: bottom;
}

#description {
  float: left;
  width: 400px;
  display: inline-block;
  margin-left: 20px;
  font-size: 11pt;
  font-family: arial;
  font-weight: normal;
  padding-top: 15px;
}
