body{
  background-color: AliceBlue;
}

h1 {
  font-family: courier;
  font-size: 24pt;
  padding: 0px 0px 10px 40px;
  margin: 0px 0px 40px 20px;
  border-bottom: 1px solid gainsboro;
}

h2 {
  font-family: courier;
  font-size: 16pt;
  margin: 20px 0px 0px 20px;
}

input[type=number] {
  width: 40px;
  margin: 2px 0px;
  text-align: center;
}

/*
  Thanks to: https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=button] {
  padding: 5px 15px;
  margin-top: 15px;
  border-radius: 5px;
  border: solid 1px gray;
}

#chart {
  margin: 0 20px 20px 20px;
  vertical-align: top;
  background-color: white;
}

#interactive {
  display: inline-block;
  vertical-align: top;
}

#controls {
  display: inline-block;
  margin: 0 0 35px 20px;
  vertical-align: bottom;
}

#description {
  width: 400px;
  display: inline-block;
  margin-left: 40px;
  font-size: 11pt;
  font-family: arial;
  font-weight: normal;
}

#footer {
  margin-bottom: 10px;
  margin-top: 40px;
  background-image: url(footer.png);
  height: 28px;
}
